.Header {
    padding-top: 20px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 1px #cccccc;
    background-color: lightslategrey;
}

.Header a {
    color: black;
    padding: 5px 10px;
    margin: 0 100px;
    text-decoration: none;
    text-underline: none;
}

.Header a:hover {
    background: #dddddd;
}
