.red {
    width: 100%;

}
.startdate
{
    width:10%;

}
.enddate
{
    width:10%;
}
.curamount
{
    width:10%;
}
.taramount
{
    width:10%;
}
.name {
    width: 40%
}
.edit
{
    width:10%;

}
.delete
{
    width:10%;
}

