.SavingsCol{
    padding: 2em;
    margin-top: 1%;

}



.SavingsRow {
    margin-top: 2%;
    padding: 2%;
    border-style:solid;
    border-width: thin;
    overflow:hidden;
}

.savingButtons {
    margin: 2%;
    padding: 2%;
    border-style:solid;
    border-width: thin;
    overflow:hidden;
}

/*.deleteSB {*/
    /*margin-left: 50%;*/
/*}*/

/*.leaveSB {*/
    /*margin-right: 30%;*/
/*}*/